[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
yfinance = "*"
prettytable = "*"
scipy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
